
@{
    ViewBag.Title = "Vật tư";
}

<div id="jtable"></div>

<div class="modal fade" id="popup" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-small ">
        <div class="modal-content">
            <div class="modal-header">
                <button cancel aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">Thông tin vật tư</h4>
            </div>
            <div class="modal-body ">
                <div class="container-fluid">
                    <div class="row">
                        <input type="hidden" id="id" />
                        <div class="form-group col-md-4 picture-box ">
                            <img src="~/Upload/no-image.png" class="img-avatar" id="img-avatar" />
                            <form id="p-form-upload" name="p-form-upload" enctype="multipart/form-data" method="post">
                                <input type="file" id="p-file-upload" name="p-file-upload" filelist newurl="" style="display:none" accept="image/*" />
                            </form>
                            <button class="btn btn-primary" id="p-btn-file-upload" style=" margin:0">Chọn ảnh ...</button>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group col-md-8 ">
                            <label class="control-label">Tên vật tư <span class="required-class">*</span></label><br />
                            <input class="form-control" id="name" required="required" type="text" />
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Đơn giá</label>
                            <input id="don-gia" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Đánh giá</label>
                            <input id="danh-gia" type="text" class="form-control" />

                        </div>
                        <div class="form-group col-md-8">
                            <label class="control-label">Công dụng</label>
                            <textarea id="cong-dung" class="form-control"></textarea>

                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label">Cách dùng</label>
                            <textarea id="cach-dung" class="form-control"></textarea>

                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button cancel aria-hidden="true" data-dismiss="modal" class="btn">
                    <div class="button-image image-close"></div>Đóng
                </button>
                <button save class="btn btn-primary">
                    <div class="button-image image-save"></div>Lưu Lại
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/www/material-index.js"></script>